<app-iniciosensores></app-iniciosensores><br>

<div class="container">
    <h1 class="color" align="center">Datos Gas</h1>

    <table class="table table-dark table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th width="30%" class="text-center">#</th>
            <th width="80%" class="text-center">Gas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let datos of datosgas" (click)="MostrarGrafica(datos._id)">
            <td class="text-center">{{ datos._id }}</td>
            <td class="text-center">{{ datos.gas }}</td>
          </tr>
        </tbody>
      </table>
</div>