<app-dashboard></app-dashboard>

<div class="container">
    <h1 class="color" align="center">Datos Movimiento</h1>

    <table class="table table-dark table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th width="70%" class="text-center">Movimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let datos of datosmovimiento">
            <td class="text-center">{{ datos.movimiento }}</td>
          </tr>
        </tbody>
      </table>
</div>
