#excel{
  margin-left: 250px;
}
#datouno{
  background-color: black;
  width: 560px;
  height: 575px;
  float: left;
}

#fan{
  background-color: white;
}

#filtrar{
  margin-top: -70px;
}

.card{
  margin-top: 20px;
}

table {
  width: 100%;
}

.color{
  color: white;
}

#datodos{
  background-color: black;
  width: 789px;
  height: 575px;
  float: left;
}

#datotres{
  background-color: black;
  width: 674px;
  height: 200px;
  float: left;
}

#datocuatro{
  background-color: black;
  width: 675px;
  height: 200px;
  float: left;
}
