<div class="">
  <div class="row align-items-start mov">
    <div class="col primero">
      <img src="../../../assets/smart-house.png" class="img" alt="">
      <h1 class="primertitulo">REGISTRARSE</h1>
      <p class="logoreg">Registrate para tener acceso</p>
    </div>
    <div class="col segundo">
    <div class="form-login card">
      <h3 class="log">REGISTER</h3>
      <form [formGroup]="FormularioRegistro">
            <label class="form-label inputs">Email</label>
            <input type="email"
             formControlName="Email"
             [(ngModel)]="registro.email"
             class="form-control inputs"
             [class.is-invalid]="CorreoValidation">
            <label class="form-label inputs">Password</label>
            <input type="password"
            formControlName="Password"
            [(ngModel)]="registro.password"
            class="form-control inputs"
            [class.is-invalid]="passwordValidation"><br>
            <button type="submit" (click)="register()" class="btn btn-primary form-control inputs" [disabled]="CorreoValidation" [disabled]="passwordValidation">Registrarse</button><br><br>
            <button type="submit" routerLink="/login" class="btn btn-warning form-control inputs">Cancelar</button>
      </form>
    </div>
    </div>
  </div>
</div>
