<div class="">
  <div class="row align-items-start mov">
    <div class="col primero">
      <img src="../../../assets/smart-house.png" class="img" alt="">
      <h1 class="primertitulo">PROYECTO INTEGRADOR</h1>
      <p class="logoreg">Logueate o Registrate para tener acceso</p>
    </div>
    <div class="col segundo">
    <div class="form-login card">
      <h3 class="log">LOGIN</h3>
      <form action="">
            <label class="form-label inputs">Email</label>
            <input type="email" class="form-control inputs">
            <label class="form-label inputs">Password</label>
            <input type="password" class="form-control inputs"><br>
            <button type="submit" class="btn btn-info form-control inputs">Logueate</button><br>
            <a routerLink="/register" class="a nav-link">si no estas registrado da click</a>
      </form>
    </div>
    </div>
  </div>
</div>
